
# set preject name
project (${project_name})

# check camke version
cmake_minimum_required(VERSION 2.8)

# set src files 
set(${preject_name}_src_files ${src_files})

# set include directories
${include_directories}

# set link directories
${link_direcories}

# add global definiations
${add_definitions}

# set target 
${target}
